<%= turbo_frame_tag "conversation-new" do %>
  <div>
    <%= link_to "New CONVERSATION",  new_admin_conversation_path, disable_with: "Loading...", class: "new-conversation-button btn btn-primary pull-right  " %>
  </div>
<% end %>
